<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarternance - Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/header') %>
        <main id="admin-section" class="container-fluid d-flex  flex-grow-1 text-center py-5">
            <div class="container">
                <h2 class="fw-bold fs-1 fs-md-5 text-uppercase">Panneau d'administration</h2>
                <p class="fs-6 p-2">Gérez la base de donnée depuis ce tableau de bord</p>
                <div class="admin-dashboard">
                    <div class="row row-gap-3 d-flex justify-content-center">
                        <div class="col-md-4">
                            <div class="admin-card">
                                <div class="card-body">
                                    <h5 class="card-title">Utilisateurs</h5>
                                    <p class="card-text">Gérer les utilisateurs de la plateforme</p>
                                    <a href="/admin/users" class="btn btn-primary">Voir les utilisateurs</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="admin-card">
                                <div class="card-body">
                                    <h5 class="card-title">Annonces</h5>
                                    <p class="card-text">Gérez les annonces publiées</p>
                                    <a href="/admin/advertisements" class="btn btn-primary">Voir les annonces</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="admin-card">
                                <div class="card-body">
                                    <h5 class="card-title">Entreprises</h5>
                                    <p class="card-text">Gérer les entreprises</p>
                                    <a href="/admin/companies" class="btn btn-primary">Voir les entreprises</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="admin-card">
                                <div class="card-body">
                                    <h5 class="card-title">Candidatures</h5>
                                    <p class="card-text">Gérer les candidatures</p>
                                    <a href="/admin/applications" class="btn btn-primary">Voir les candidatures</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include("../partials/footer") %>
            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
</body>

</html>