<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Keywords</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
    <h1 class="text-center m-3">Admin - Keywords</h1>
    <% if (keywords && keywords.length> 0) {%>
        <div class="container bg-yellow rounded">
            <%keywords.forEach(word=> {%>
                <span id="<%=word.id%>" class="<%= word.category%>">
                    <%= word.word %>
                </span>
                <% }); %>
        </div>
        <% } else { %>
            <p>Aucun mot n'a été trouvé</p>
            <%}%>
</body>

</html>