<header class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/assets/images/logo/clarternance.svg" alt="Logo" width="80" height="100"
                class="d-inline-block align-text-top"
                style="filter: invert(70%) sepia(39%) saturate(894%) hue-rotate(354deg) brightness(102%) contrast(91%);" />
            <h1 class="h1 title text-uppercase" style="color: #f4b324;">Clarternance</h1>
        </a>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav gap-2 justify-content-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/advertisements">Toutes nos annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advertisements/create">Ajouter une annonce</a>
                </li>
                <% if (user.isAdmin) { %>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/admin">Admin</a>
                    </li>
                    <% } %>
            </ul>
            <div id="profile-wrapper " class="d-flex gap-1 align-items-center" role="profile">
                <a class="nav-link text-center" href="/user/login">Profil</a>
                <div class="text-left"
                    style="border-radius: 45px;background-color: #f4b324; height: 75px; width: 75px;">
                    <img class="img-fluid rounded-circle" src="/assets/images/default-avatar.webp" alt="profile-picture"
                        width="95%">
                </div>
            </div>
        </nav>
    </div>
</header>