<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarternance - Accueil</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>

    <%- include('partials/header') %>
        <main id="search-section" class="container-fluid d-flex align-items-center text-center py-5">
            <div class="container">
                <h2 class="fw-bold fs-1 fs-md-5 text-uppercase">La recherche d'alterance, <br>enfin simple et
                    transparente
                </h2>
                <p class="fs-6 p-2">Phrase d'accroche mais en fait c'est du détail</p>
                <!-- SearchBar -->
                <div class="search-bar">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cherches ton alterance..."
                            aria-label="Search" aria-describedby="search-addon">
                        <button class="btn" type="button" id="search-addon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>
                    </div>
                </div>
                <button class="btn border-black mt-3 rounded-5 text-white fw-semibold"
                    style="background-color: #1c191a;">Rechercher</button>
            </div>
        </main>

        <section class="container my-5 pb-3">
            <h1 class="my-3 mt-5">Nos offres :</h1>
            <div class="card-group m-3 gap-3">
                <div class="card">
                    <img class="img-card" src="/assets/images/template-septeo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="img-card" src="/assets/images/template-edf.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="img-card" src="/assets/images/template-capgemini.webp" alt="" width="100%"
                        height="auto">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </section>

        <%- include("partials/footer") %>
            <!-- Scripts bootstrap -->
            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
</body>

</html>