<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarternance - Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../assets/clertarnance.svg" alt="Logo" width="60" height="80"
                    class="d-inline-block align-text-top" />
                <h1 class="">Clarternance</h1>
            </a>
            <div></div>
        </div>
    </header>
    <!-- </div>
        <nav>
            <ul>
                <li class="nav">text</li>
                <li class="nav">Text Plus Longue</li>
                <li class="nav">ETC</li>
            </ul>
        </nav>
        <div class="profil-wraper">
            <h6 class="">Profil</h6>
        </div> -->


</body>

</html>