<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarternance - Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>

<body style="height: 100vh; margin: 0; padding: 0;">
    <style>
        body {
            background-color: #f4b324;
            color: #1c191a;
        }

        h1 {
            font-family: "Le Jour Serif";
            color: #1c191a;
        }

        label {
            font-family: "Garet";
            color: #1c191a;
        }

        a,
        p {
            font-family: "Cy Grotesk";
            font-size: small;
            color: #1c191a;
        }

        #connexion-button {
            font-family: "Garet";
            font-weight: bold;
            color: #f6e7d8;
        }
    </style>

    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="bg-light bg-opacity-25 p-5 rounded-5">
            <a class="d-flex align-items-center link-underline link-underline-opacity-0" href="#">
                <img src="/assets/images/logo/clarternance.svg" alt="Logo" width="60">
                <h1>CLARTERNANCE</h1>
            </a>
            <form>
                <div id="signIn" class="mb-2 form-text text-center">
                    <p class="m-0">Vous n’avez pas encore de compte ?</p>
                    <a href="#">Inscrivez vous par ici !</a>
                </div>
                <div class="mb-3">
                    <label for="inputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="inputPassword1" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="inputPassword1">
                    <a href="#" class="form-text mb-1"> Mot de Passe oublie ?</a>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="Check1">
                    <label class="form-check-label border-black" for="Check1">Rester connecté-e</label>
                </div>
                <div class="text-center">
                    <button type="submit" id="connexion-button" class="btn rounded-5 bg-black p-3">CONNEXION</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
</body>

</html>