@font-face {
    font-family: "Le Jour Serif";
    src: url("/public/assets/fonts/LeJourSerif.otf");
}

@font-face {
    font-family:"Cy Grotesk" ;
    src: url("/public/assets/fonts/CyGrotesk-KeyRegular.otf");
}

@font-face {
    font-family: "Garet";
    src: url("/public/assets/fonts/Garet-Book.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Garet";
    src: url("/public/assets/fonts/Garet-Heavy.otf");
    font-weight: bold;
}