/* Réécriture temporaire des couleurs en css classique (a faire ensuite via variables bootstrap) */
/* index style */
header {
  background-color: #1c191a;
}
body {
  min-height: 100vh;
}

.navbar-nav {
  color: #f4b324;
}

footer {
  margin-top: auto;
}

main {
  background-color: #f4b324;
}

.nav-link {
  color: #f4b324 !important;
  font-size: 20px;
}

.search-bar {
  max-width: 500px;
  margin: auto auto;
}

.search-bar .input-group {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
  border: none;
  padding-left: 20px;
}

.search-bar .btn {
  border: none;
}

.navbar-brand {
  margin-right: 2rem !important;
}

#search-section {
  height: 500px;
}

.img-card {
  height: 225px;
}

/* createAdvertisement */
.form-container {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2rem;
  border-radius: 15px;
}
.bg-yellow {
  background-color: #f4b324;
}
/* Admin styles */
#admin-section {
  background-color: #f4b324;
}

.admin-card {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border: #1c191a;
  margin-bottom: 20px;
  height: 100%;
}

.admin-card .card-body {
  padding: 2rem;
}

.admin-card .btn-primary:hover {
  background-color: #02160086;
}

.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(213, 206, 206);
}

.keyword-item {
  flex: 0 0 auto;
  margin: 5px;
  font-size: 20px;
}

/* Partie Admin */
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f5f5f5;
}

.form-container {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form-col {
  flex: 1;
  padding: 0 15px;
}

.btn-custom {
  margin: 10px 5px;
}
