<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
    <%- include("../partials/header") %>

    <div class="container-fluid" >
        <div class="row" id="row">            
            <div class="p-3 col profile-info" style="font-size: large;">
                <img src="/assets/images/default-avatar.webp" class="img-thumbnail rounded-circle m-3"><br>
                
                <a href="#1" class="link-underline link-underline-opacity-0 p-4">Parametres Utilisateur</a><br>
                <a href="#2" class="link-underline link-underline-opacity-0 p-4">Documents</a><br>
                <a href="#3" class="link-underline link-underline-opacity-0 p-4">Annonces Postulés</a>
            </div>
            <div class="p-5 col-10">
                <h2 id="1">Parametres Utilisateur</h2>
                <div class="container m-3">
                    <form action="/users/profile">
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="fname" class="form-label">Prénom</label>
                                <input type="text" class="form-control" id="fname" placeholder="getname">
                            </div>
                            <div class="mb-3 col">
                                <label for="lname" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="lname" placeholder="getname">
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                            </div>

                            <div class="mb-3 col">
                                <label for="tel" class="form-label">Numéro de Téléphone</label>
                                <input type="tel" class="form-control" id="tel" placeholder="XX XX XX XX XX">
                            </div>

                            <div class="mb-3 col">
                                <label for="got_license" class="form-label">Permis de Voiture</label> <br>
                                <input type="checkbox" id="oui"> Oui <br>
                                <input type="checkbox" id="non"> Non                                
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="profile_desc" class="form-label">Infos</label>
                            <textarea class="form-control" id="profile_desc" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <h2 id="2" class="mt-5">Documents</h2>
                <div class="container m-3">
                    <div class="row">
                        <input type="" name="" id="">

                    </div>
                </div>
            </div>
        </div>
        

    <%- include("../partials/footer") %>
    <script src="/js/bootstrap.bundle.min.js"></script></body>
</html>