<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarternance - Signup</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>

<body style="height: 100vh; margin: 0; padding: 0;">
    <style>
        body {
            background-color: #f4b324;
            color: #1c191a;
        }

        h1 {
            font-family: "Le Jour Serif";
            color: #1c191a;
        }

        label {
            font-family: "Garet";
            color: #1c191a;
        }

        a,
        p {
            font-family: "Cy Grotesk";
            font-size: small;
            color: #1c191a;
        }

        #connexion-button {
            font-family: "Garet";
            font-weight: bold;
            color: #f6e7d8;
        }
    </style>

    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="bg-light bg-opacity-25 p-5 rounded-5" style="width: 500px;">
            <a href="/" class="d-flex align-items-center justify-content-center link-underline link-underline-opacity-0"
                href="#">
                <img src="/assets/images/logo/clarternance.svg" alt="Logo" width="60">
                <h1 class="text-uppercase">Clarternance</h1>
            </a>
            <form action="/user/register" method="POST">
                <div id="signIn" class="mb-4 form-text text-center link-underline link-underline-opacity-0">
                    <p class="m-0">Vous avez déjà un compte ? <a href="/user/login">Connectez vous par ici</a></p>
                    <p class="m-0">Vous êtes une entreprise ? <a href="#">Créez votre compte enterprise</a></p>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="first-name" class="form-label">Prénom</label>
                        <input type="text" id="first-name" name="fname" class="form-control" required>
                    </div>
                    <div class="col">
                        <label for="last-name" class="form-label">Nom</label>
                        <input type="text" id="last-name" name="lname" class="form-control" required>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail" required>
                    </div>
                    <label for="inputPassword" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" required>
                    <em id="passwordHelpInline" class="form-text">Votre mot de passe doit contenir de 8 à 20
                        carcactères</em>
                </div>

                <div class="text-center">
                    <button type="submit" id="connexion-button"
                        class="btn rounded-5 bg-black p-3 text-uppercase">Connexion</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
</body>

</html>